In [110]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import datetime
import numpy as np
import json
from bs4 import BeautifulSoup
from collections import defaultdict
from sklearn.linear_model import LinearRegression
import sqlite3
from sqlalchemy import create_engine
import requests

In [111]:
pokemon=pd.read_csv('/content/pokemon (1).csv')

In [112]:
population=pd.read_csv('/content/population_data.json')

In [113]:
df_rural = pd.read_csv('rural_population_percent.csv', skiprows=4)
df_electricity = pd.read_csv('electricity_access_percent.csv', skiprows=4)

# TODO: remove the 'Unnamed:62' column from each data set
df_rural.drop('Unnamed: 62', axis=1, inplace=True)
df_electricity.drop('Unnamed: 62', axis=1, inplace=True)

# TODO: combine the two data sets together using the concat method
df = pd.concat([df_rural, df_electricity])
pd.concat

<function pandas.core.reshape.concat.concat(objs: 'Iterable[NDFrame] | Mapping[HashableT, NDFrame]', *, axis: 'Axis' = 0, join: 'str' = 'outer', ignore_index: 'bool' = False, keys=None, levels=None, names=None, verify_integrity: 'bool' = False, sort: 'bool' = False, copy: 'bool' = True) -> 'DataFrame | Series'>

In [114]:
df_rural_melt = pd.melt(df_rural,\
                        id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],\
                       var_name = 'Year', value_name='Rural_Value')
df_electricity_melt = pd.melt(df_electricity,\
                              id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],\
                             var_name='Year', value_name='Electricity_Value')

# TODO: drop any columns from the data frames that aren't needed
df_rural_melt.drop(['Indicator Name', 'Indicator Code'], axis=1, inplace=True)
df_electricity_melt.drop(['Indicator Name', 'Indicator Code'], axis=1, inplace=True)

# TODO: merge the data frames together based on their common columns
# in this case, the common columns are Country Name, Country Code, and Year
df_merge = df_rural_melt.merge(df_electricity_melt, how='outer',\
                               on=['Country Name', 'Country Code', 'Year'])

# TODO: sort the results by country and then by year
df_combined = df_merge.sort_values(['Country Name', 'Year'])
df_combined

      Country Name Country Code  Year  Rural_Value  Electricity_Value
1      Afghanistan          AFG  1960       91.779                NaN
265    Afghanistan          AFG  1961       91.492                NaN
529    Afghanistan          AFG  1962       91.195                NaN
793    Afghanistan          AFG  1963       90.890                NaN
1057   Afghanistan          AFG  1964       90.574                NaN
...            ...          ...   ...          ...                ...
14255     Zimbabwe          ZWE  2013       67.346          37.076813
14519     Zimbabwe          ZWE  2014       67.499          32.300000
14783     Zimbabwe          ZWE  2015       67.624          33.700000
15047     Zimbabwe          ZWE  2016       67.723          38.145138
15311     Zimbabwe          ZWE  2017       67.793                NaN

[15312 rows x 5 columns]

In [115]:
df_projects = pd.read_csv('/content/projects_data.csv', dtype=str)

In [116]:

df_projects.head()

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
0,P162228,Other,World;World,RE,Investment Project Financing,IN,C,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P163962,Africa,Democratic Republic of the Congo;Democratic Re...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P167672,South Asia,People's Republic of Bangladesh;People's Repub...,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P158768,South Asia,Islamic Republic of Afghanistan;Islamic Repu...,PE,Investment Project Financing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P161364,Africa,Federal Republic of Nigeria;Federal Republic o...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,NaN

In [117]:
df_projects.isnull().sum()

id                              0
regionname                      0
countryname                     0
prodline                        0
lendinginstr                  246
lendinginstrtype              246
envassesmentcategorycode     5811
supplementprojectflg           53
productlinetype                 0
projectstatusdisplay            4
status                          4
project_name                    0
boardapprovaldate            1504
board_approval_month         1504
closingdate                  3349
lendprojectcost               125
ibrdcommamt                     0
idacommamt                      0
totalamt                        0
grantamt                        0
borrower                     5919
impagency                    6097
url                             0
projectdoc                  18248
majorsector_percent         18248
sector1                         0
sector2                      8721
sector3                     11761
sector4                     13872
sector5                     15535
sector                        638
mjsector1                   18248
mjsector2                   18248
mjsector3                   18248
mjsector4                   18248
mjsector5                   18248
mjsector                      638
theme1                          0
theme2                       8395
theme3                      10764
theme4                      13014
theme5                      15320
theme                       18248
goal                         6115
financier                   11188
mjtheme1name                18248
mjtheme2name                18248
mjtheme3name                18248
mjtheme4name                18248
mjtheme5name                18248
location                    13922
GeoLocID                    13922
GeoLocName                  13923
Latitude                    13922
Longitude                   13922
Country                     14045
Unnamed: 56                 18248
dtype: int64

In [118]:
f = open('/content/population_data.csv')
for i in range(10):
    line = f.readline()
    print('line: ', i,  line)
f.close()

line:  0 ﻿"Data Source","World Development Indicators",

line:  1

line:  2 "Last Updated Date","2018-06-28",

line:  3

line:  4 "Country Name","Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017",

line:  5 "Aruba","ABW","Population, total","SP.POP.TOTL","54211","55438","56225","56695","57032","57360","57715","58055","58386","58726","59063","59440","59840","60243","60528","60657","60586","60366","60103","59980","60096","60567","61345","62201","62836","63026","62644","61833","61079","61032","62149","64622","68235","72504","76700","80324","83200","85451","87277","89005","90853","92898","94992","97017","98737","100031","100832","101220","101353","101453","101669","102053","102577","103187","103795","104341","104822","105264",

line:  6 "Afghanistan","AFG","Population, total","SP.POP.TOTL","8996351","9166764","9345868","9533954","9731361","9938414","10152331","10372630","10604346","10854428","11126123","11417825","11721940","12027822","12321541","12590286","12840299","13067538","13237734","13306695","13248370","13053954","12749645","12389269","12047115","11783050","11601041","11502761","11540888","11777609","12249114","12993657","13981231","15095099","16172719","17099541","17822884","18381605","18863999","19403676","20093756","20966463","21979923","23064851","24118979","25070798","25893450","26616792","27294031","28004331","28803167","29708599","30696958","31731688","32758020","33736494","34656032","35530081",

line:  7 "Angola","AGO","Population, total","SP.POP.TOTL","5643182","5753024","5866061","5980417","6093321","6203299","6309770","6414995","6523791","6642632","6776381","6927269","7094834","7277960","7474338","7682479","7900997","8130988","8376147","8641521","8929900","9244507","9582156","9931562","10277321","10609042","10921037","11218268","11513968","11827237","12171441","12553446","12968345","13403734","13841301","14268994","14682284","15088981","15504318","15949766","16440924","16983266","17572649","18203369","18865716","19552542","20262399","20997687","21759420","22549547","23369131","24218565","25096150","25998340","26920466","27859305","28813463","29784193",

line:  8 "Albania","ALB","Population, total","SP.POP.TOTL","1608800","1659800","1711319","1762621","1814135","1864791","1914573","1965598","2022272","2081695","2135479","2187853","2243126","2296752","2350124","2404831","2458526","2513546","2566266","2617832","2671997","2726056","2784278","2843960","2904429","2964762","3022635","3083605","3142336","3227943","3286542","3266790","3247039","3227287","3207536","3187784","3168033","3148281","3128530","3108778","3089027","3060173","3051010","3039616","3026939","3011487","2992547","2970017","2947314","2927519","2913021","2905195","2900401","2895092","2889104","2880703","2876101","2873457",

line:  9 "Andorra","AND","Population, total","SP.POP.TOTL","13411","14375","15370","16412","17469","18549","19647","20758","21890","23058","24276","25559","26892","28232","29520","30705","31777","32771","33737","34818","36067","37500","39114","40867","42706","44600","46517","48455","50434","52448","54509","56671","58888","60971","62677","63850","64360","64327","64142","64370","65390","67341","70049","73182","76244","78867","80991","82683","83861","84462","84449","83751","82431","80788","79223","78014","77281","76965",

In [119]:
population.head()

Empty DataFrame
Columns: [[{"Country Name":"Aruba", Country Code:"ABW", Indicator Name:"Population,  total", Indicator Code:"SP.POP.TOTL", 1960:54211.0, 1961:55438.0, 1962:56225.0, 1963:56695.0, 1964:57032.0, 1965:57360.0, 1966:57715.0, 1967:58055.0, 1968:58386.0, 1969:58726.0, 1970:59063.0, 1971:59440.0, 1972:59840.0, 1973:60243.0, 1974:60528.0, 1975:60657.0, 1976:60586.0, 1977:60366.0, 1978:60103.0, 1979:59980.0, 1980:60096.0, 1981:60567.0, 1982:61345.0, 1983:62201.0, 1984:62836.0, 1985:63026.0, 1986:62644.0, 1987:61833.0, 1988:61079.0, 1989:61032.0, 1990:62149.0, 1991:64622.0, 1992:68235.0, 1993:72504.0, 1994:76700.0, 1995:80324.0, 1996:83200.0, 1997:85451.0, 1998:87277.0, 1999:89005.0, 2000:90853.0, 2001:92898.0, 2002:94992.0, 2003:97017.0, 2004:98737.0, 2005:100031.0, 2006:100832.0, 2007:101220.0, 2008:101353.0, 2009:101453.0, 2010:101669.0, 2011:102053.0, 2012:102577.0, 2013:103187.0, 2014:103795.0, 2015:104341.0, 2016:104822.0, 2017:105264.0}, {"Country Name":"Afghanistan", Country Code:"AFG", Indicator Name:"Population.1,  total".1, Indicator Code:"SP.POP.TOTL".1, 1960:8996351.0, 1961:9166764.0, 1962:9345868.0, 1963:9533954.0, 1964:9731361.0, 1965:9938414.0, 1966:10152331.0, 1967:10372630.0, 1968:10604346.0, 1969:10854428.0, 1970:11126123.0, 1971:11417825.0, 1972:11721940.0, 1973:12027822.0, 1974:12321541.0, 1975:12590286.0, 1976:12840299.0, 1977:13067538.0, 1978:13237734.0, 1979:13306695.0, 1980:13248370.0, 1981:13053954.0, 1982:12749645.0, 1983:12389269.0, 1984:12047115.0, 1985:11783050.0, 1986:11601041.0, 1987:11502761.0, 1988:11540888.0, 1989:11777609.0, 1990:12249114.0, 1991:12993657.0, ...]
Index: []

[0 rows x 16646 columns]

In [120]:
population.isnull().sum()

[{"Country Name":"Aruba"        0.0
Country Code:"ABW"              0.0
Indicator Name:"Population      0.0
 total"                         0.0
Indicator Code:"SP.POP.TOTL"    0.0
                               ...
2013:15054506.0                 0.0
2014:15411675.0                 0.0
2015:15777451.0                 0.0
2016:16150362.0                 0.0
2017:16529904.0}]               0.0
Length: 16646, dtype: float64

In [121]:
population.isnull().sum(axis=1)

Series([], dtype: int64)

In [122]:
population.columns

Index(['[{"Country Name":"Aruba"', 'Country Code:"ABW"',
       'Indicator Name:"Population', ' total"', 'Indicator Code:"SP.POP.TOTL"',
       '1960:54211.0', '1961:55438.0', '1962:56225.0', '1963:56695.0',
       '1964:57032.0',
       ...
       '2008:13558469.0', '2009:13810599.0', '2010:14086317.0',
       '2011:14386649.0', '2012:14710826.0', '2013:15054506.0',
       '2014:15411675.0', '2015:15777451.0', '2016:16150362.0',
       '2017:16529904.0}]'],
      dtype='object', length=16646)

In [123]:
population[population.isnull().any(axis=1)]

Empty DataFrame
Columns: [[{"Country Name":"Aruba", Country Code:"ABW", Indicator Name:"Population,  total", Indicator Code:"SP.POP.TOTL", 1960:54211.0, 1961:55438.0, 1962:56225.0, 1963:56695.0, 1964:57032.0, 1965:57360.0, 1966:57715.0, 1967:58055.0, 1968:58386.0, 1969:58726.0, 1970:59063.0, 1971:59440.0, 1972:59840.0, 1973:60243.0, 1974:60528.0, 1975:60657.0, 1976:60586.0, 1977:60366.0, 1978:60103.0, 1979:59980.0, 1980:60096.0, 1981:60567.0, 1982:61345.0, 1983:62201.0, 1984:62836.0, 1985:63026.0, 1986:62644.0, 1987:61833.0, 1988:61079.0, 1989:61032.0, 1990:62149.0, 1991:64622.0, 1992:68235.0, 1993:72504.0, 1994:76700.0, 1995:80324.0, 1996:83200.0, 1997:85451.0, 1998:87277.0, 1999:89005.0, 2000:90853.0, 2001:92898.0, 2002:94992.0, 2003:97017.0, 2004:98737.0, 2005:100031.0, 2006:100832.0, 2007:101220.0, 2008:101353.0, 2009:101453.0, 2010:101669.0, 2011:102053.0, 2012:102577.0, 2013:103187.0, 2014:103795.0, 2015:104341.0, 2016:104822.0, 2017:105264.0}, {"Country Name":"Afghanistan", Country Code:"AFG", Indicator Name:"Population.1,  total".1, Indicator Code:"SP.POP.TOTL".1, 1960:8996351.0, 1961:9166764.0, 1962:9345868.0, 1963:9533954.0, 1964:9731361.0, 1965:9938414.0, 1966:10152331.0, 1967:10372630.0, 1968:10604346.0, 1969:10854428.0, 1970:11126123.0, 1971:11417825.0, 1972:11721940.0, 1973:12027822.0, 1974:12321541.0, 1975:12590286.0, 1976:12840299.0, 1977:13067538.0, 1978:13237734.0, 1979:13306695.0, 1980:13248370.0, 1981:13053954.0, 1982:12749645.0, 1983:12389269.0, 1984:12047115.0, 1985:11783050.0, 1986:11601041.0, 1987:11502761.0, 1988:11540888.0, 1989:11777609.0, 1990:12249114.0, 1991:12993657.0, ...]
Index: []

[0 rows x 16646 columns]

#Duplicate Data

Exercise 1
From the World Bank GDP data, count the number of countries that have had a project totalamt greater than 1 billion dollars (1,000,000,000). To get the count, you'll have to remove duplicate data rows.

In [124]:
import pandas as pd

# Read in the projects data set and do some basic wrangling
projects = pd.read_csv('/content/projects_data.csv', dtype=str)
projects.drop('Unnamed: 56', axis=1, inplace=True)
projects['totalamt'] = pd.to_numeric(projects['totalamt'].str.replace(',', ''))
projects['countryname'] = projects['countryname'].str.split(';', expand=True)[0]
projects['boardapprovaldate'] = pd.to_datetime(projects['boardapprovaldate'])

# Filter the data frame for projects over 1 billion dollars
projects_over_1_billion = projects[projects['totalamt'] > 1000000000]  # 1 billion dollars = 1,000,000,000

# Count the number of unique countries in the results
unique_countries_count = projects_over_1_billion['countryname'].nunique()

print("Number of countries with projects over 1 billion dollars:", unique_countries_count)

Number of countries with projects over 1 billion dollars: 17

Exercise 2 (challenge)
This exercise is more challenging. The projects data set contains data about Yugoslavia, which was an Eastern European country until 1992. Yugoslavia eventually broke up into 7 countries: Bosnia and Herzegovina, Croatia, Kosovo, Macedonia, Montenegro, Serbia, and Slovenia.

But the projects dataset has some ambiguity in how it treats Yugoslavia and the 7 countries that came from Yugoslavia. Your task is to find Yugoslavia projects that are probably represented multiple times in the data set.

In [125]:
import pandas as pd
import datetime

# Read in the projects data set
projects = pd.read_csv('/content/projects_data.csv', dtype=str)
projects.drop('Unnamed: 56', axis=1, inplace=True)
projects['totalamt'] = pd.to_numeric(projects['totalamt'].str.replace(',', ''))
projects['boardapprovaldate'] = pd.to_datetime(projects['boardapprovaldate'])

# Define the list of countries
countries_of_interest = ['Bosnia and Herzegovina', 'Croatia', 'Kosovo', 'Macedonia', 'Serbia', 'Slovenia']

# Make the comparison date timezone-aware
comparison_date = pd.Timestamp(datetime.datetime(1992, 4, 27), tz='UTC')

# Filter the data frame for projects meeting the criteria
republics = projects[(projects['boardapprovaldate'] < comparison_date) & (projects['countryname'].isin(countries_of_interest))]

# Keep only the specified columns
republics = republics[['regionname', 'countryname', 'lendinginstr', 'totalamt', 'boardapprovaldate',
                      'location', 'GeoLocID', 'GeoLocName', 'Latitude', 'Longitude', 'Country', 'project_name']]

# Sort the results by boardapprovaldate
republics = republics.sort_values(by='boardapprovaldate')

# Show the results
print(republics)

Empty DataFrame
Columns: [regionname, countryname, lendinginstr, totalamt, boardapprovaldate, location, GeoLocID, GeoLocName, Latitude, Longitude, Country, project_name]
Index: []

In [126]:
import pandas as pd
import datetime

# Read in the projects data set
projects = pd.read_csv('/content/projects_data.csv', dtype=str)
projects.drop('Unnamed: 56', axis=1, inplace=True)
projects['totalamt'] = pd.to_numeric(projects['totalamt'].str.replace(',', ''))
projects['boardapprovaldate'] = pd.to_datetime(projects['boardapprovaldate'])

# Define the start and end dates for Yugoslavia projects
start_date = pd.Timestamp(datetime.datetime(1980, 2, 1), tz='UTC')
end_date = pd.Timestamp(datetime.datetime(1989, 5, 23), tz='UTC')

# Filter the data frame for Yugoslavia projects within the specified date range
yugoslavia = projects[(projects['boardapprovaldate'] >= start_date) & (projects['boardapprovaldate'] <= end_date) & (projects['countryname'] == 'Yugoslavia')]

# Keep only the specified columns
yugoslavia = yugoslavia[['regionname', 'countryname', 'lendinginstr', 'totalamt', 'boardapprovaldate',
                      'location', 'GeoLocID', 'GeoLocName', 'Latitude', 'Longitude', 'Country', 'project_name']]

# Sort the results by boardapprovaldate
yugoslavia = yugoslavia.sort_values(by='boardapprovaldate')

# Show the results
print(yugoslavia)

Empty DataFrame
Columns: [regionname, countryname, lendinginstr, totalamt, boardapprovaldate, location, GeoLocID, GeoLocName, Latitude, Longitude, Country, project_name]
Index: []

In [127]:
projects = pd.read_csv('/content/projects_data.csv', dtype=str)
projects.drop('Unnamed: 56', axis=1, inplace=True)
projects['totalamt'] = pd.to_numeric(projects['totalamt'].str.replace(',', ''))
projects['boardapprovaldate'] = pd.to_datetime(projects['boardapprovaldate'])

start_date_yugoslavia = pd.Timestamp(datetime.datetime(1980, 2, 1), tz='UTC')
end_date_yugoslavia = pd.Timestamp(datetime.datetime(1989, 5, 23), tz='UTC')

yugoslavia = projects[(projects['boardapprovaldate'] >= start_date_yugoslavia) &
                      (projects['boardapprovaldate'] <= end_date_yugoslavia) &
                      (projects['countryname'] == 'Yugoslavia')]

countries_of_interest = ['Bosnia and Herzegovina', 'Croatia', 'Kosovo', 'Macedonia', 'Serbia', 'Slovenia']

# Make the comparison date timezone-aware
comparison_date = pd.Timestamp(datetime.datetime(1992, 4, 27), tz='UTC')

republics = projects[(projects['boardapprovaldate'] < comparison_date) &
                     (projects['countryname'].isin(countries_of_interest))]

selected_columns = ['regionname', 'countryname', 'lendinginstr', 'totalamt', 'boardapprovaldate',
                      'location', 'GeoLocID', 'GeoLocName', 'Latitude', 'Longitude', 'Country', 'project_name']
yugoslavia = yugoslavia[selected_columns]
republics = republics[selected_columns]

concatenated_data = pd.concat([yugoslavia, republics])

unique_dates = concatenated_data['boardapprovaldate'].unique()
date_counts = concatenated_data['boardapprovaldate'].value_counts()
dates_appeared_twice = date_counts[date_counts == 2]

print(dates_appeared_twice)

Series([], Name: boardapprovaldate, dtype: int64)

In [128]:
import datetime

# run this code cell to see the duplicate data
pd.concat([yugoslavia[yugoslavia['boardapprovaldate'] == datetime.date(1983, 7, 26)], republics[republics['boardapprovaldate'] == datetime.date(1983, 7, 26)]])

Empty DataFrame
Columns: [regionname, countryname, lendinginstr, totalamt, boardapprovaldate, location, GeoLocID, GeoLocName, Latitude, Longitude, Country, project_name]
Index: []

#Scaling Data

In [129]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# read in the projects data set and do basic wrangling
gdp = pd.read_csv('/content/gdp_data.csv', skiprows=4)
gdp.drop(['Unnamed: 62', 'Country Code', 'Indicator Name', 'Indicator Code'], inplace=True, axis=1)
population = pd.read_csv('/content/population_data.csv', skiprows=4)
population.drop(['Unnamed: 62', 'Country Code', 'Indicator Name', 'Indicator Code'], inplace=True, axis=1)


# Reshape the data sets so that they are in long format
gdp_melt = gdp.melt(id_vars=['Country Name'],
                    var_name='year',
                    value_name='gdp')

# Use back fill and forward fill to fill in missing gdp values
gdp_melt['gdp'] = gdp_melt.sort_values('year').groupby('Country Name')['gdp'].fillna(method='ffill').fillna(method='bfill')

population_melt = population.melt(id_vars=['Country Name'],
                                  var_name='year',
                                  value_name='population')

# Use back fill and forward fill to fill in missing population values
population_melt['population'] = population_melt.sort_values('year').groupby('Country Name')['population'].fillna(method='ffill').fillna(method='bfill')

# merge the population and gdp data together into one data frame
df_country = gdp_melt.merge(population_melt, on=('Country Name', 'year'))

# filter data for the year 2016
df_2016 = df_country[df_country['year'] == '2016']

# filter out values that are not countries
non_countries = ['World',
 'High income',
 'OECD members',
 'Post-demographic dividend',
 'IDA & IBRD total',
 'Low & middle income',
 'Middle income',
 'IBRD only',
 'East Asia & Pacific',
 'Europe & Central Asia',
 'North America',
 'Upper middle income',
 'Late-demographic dividend',
 'European Union',
 'East Asia & Pacific (excluding high income)',
 'East Asia & Pacific (IDA & IBRD countries)',
 'Euro area',
 'Early-demographic dividend',
 'Lower middle income',
 'Latin America & Caribbean',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Latin America & Caribbean (excluding high income)',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Middle East & North Africa',
 'Europe & Central Asia (excluding high income)',
 'South Asia (IDA & IBRD)',
 'South Asia',
 'Arab World',
 'IDA total',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Sub-Saharan Africa (excluding high income)',
 'Middle East & North Africa (excluding high income)',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Central Europe and the Baltics',
 'Pre-demographic dividend',
 'IDA only',
 'Least developed countries: UN classification',
 'IDA blend',
 'Fragile and conflict affected situations',
 'Heavily indebted poor countries (HIPC)',
 'Low income',
 'Small states',
 'Other small states',
 'Not classified',
 'Caribbean small states',
 'Pacific island small states']

# remove non countries from the data
df_2016 = df_2016[~df_2016['Country Name'].isin(non_countries)]


# show the first ten rows
print('first ten rows of data')
df_2016.head(10)

first ten rows of data

               Country Name  year           gdp  population
14784                 Aruba  2016  2.584464e+09    104822.0
14785           Afghanistan  2016  1.946902e+10  34656032.0
14786                Angola  2016  9.533720e+10  28813463.0
14787               Albania  2016  1.188368e+10   2876101.0
14788               Andorra  2016  2.877312e+09     77281.0
14790  United Arab Emirates  2016  3.570451e+11   9269612.0
14791             Argentina  2016  5.548609e+11  43847430.0
14792               Armenia  2016  1.054614e+10   2924816.0
14793        American Samoa  2016  6.580000e+08     55599.0
14794   Antigua and Barbuda  2016  1.460145e+09    100963.0

#Normalize the Data

In [130]:
def x_min_max(data):
    # TODO: Complete this function called x_min_max()
    # The input is an array of data as an input
    # The outputs are the minimum and maximum of that array
    minimum = min(data)
    maximum = max(data)
    return minimum, maximum
    x_min_max(df_2016['gdp'])

In [131]:
def normalize(x, x_min, x_max):
    # Normalize the value x within the range [x_min, x_max] to the range [0, 1]
    return (x - x_min) / (x_max - x_min)

In [132]:
class Normalizer():
    def __init__(self, dataframe):
        self.params = []

        # Iterate through each column in the DataFrame
        for column in dataframe.columns:
            # Calculate the minimum and maximum values for each column
            x_min, x_max = self.x_min_max(dataframe[column])
            self.params.append((x_min, x_max))

    def x_min_max(self, data):
        # Calculate the minimum and maximum values for a given data column
        minimum = min(data)
        maximum = max(data)
        return minimum, maximum

    def normalize_data(self, x):
        # Normalize a data point 'x' based on the calculated parameters
        normalized = []
        for i, value in enumerate(x):
            x_max = self.params[i][1]
            x_min = self.params[i][0]
            normalized.append((value - x_min) / (x_max - x_min))
        return normalized

In [133]:
gdp_normalizer = Normalizer(df_2016[['gdp', 'population']])

In [134]:
gdp_normalizer.params

[(36572611.8853148, 18624475000000.0), (11097.0, 1378665000.0)]

In [135]:
gdp_normalizer.normalize_data([13424475000000.0, 1300000000])

[0.7207969507229194, 0.9429407193285986]

#Feature Engineering

In [136]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

gdp = pd.read_csv('/content/gdp_data.csv', skiprows=4)
gdp.drop(['Unnamed: 62', 'Country Code', 'Indicator Name', 'Indicator Code'], inplace=True, axis=1)
population = pd.read_csv('/content/population_data.csv', skiprows=4)
population.drop(['Unnamed: 62', 'Country Code', 'Indicator Name', 'Indicator Code'], inplace=True, axis=1)

gdp_melt = gdp.melt(id_vars=['Country Name'],
                    var_name='year',
                    value_name='gdp')

gdp_melt['gdp'] = gdp_melt.sort_values('year').groupby('Country Name')['gdp'].fillna(method='ffill').fillna(method='bfill')

population_melt = population.melt(id_vars=['Country Name'],
                                  var_name='year',
                                  value_name='population')

population_melt['population'] = population_melt.sort_values('year').groupby('Country Name')['population'].fillna(method='ffill').fillna(method='bfill')

df_country = gdp_melt.merge(population_melt, on=('Country Name', 'year'))

df_2016 = df_country[df_country['year'] == '2016']

non_countries = ['World', 'High income', ...]

df_2016 = df_2016[~df_2016['Country Name'].isin(non_countries)]
df_2016.reset_index(inplace=True, drop=True)

#Final Exercise

In [137]:
import sqlite3
import pandas as pd
import numpy as np

In [138]:
def extract_lines(file):
    while True:
        line = file.readline()
        if not line:
            break
        yield line

In [139]:
def transform_indicator_data(data, colnames):
    for i, datum in enumerate(data):
        data[i] = datum.replace('"', '')

    country = None

    non_countries = ['World', 'High income', ...]
    if country not in non_countries:
        data_array = None
        data_array = None
        df = None
        df_melt = None
        results = []
        return results

In [140]:
def load_indicator_data(results):
    conn = None
    cur = None

    if results:
        for result in results:
            countryname, countrycode, year, gdp = None
            sql_string = None
            try:
                cur.execute(sql_string)
            except Exception as e:
                print('error occurred:', e, result)

    conn.commit()
    conn.close()
    return None

In [141]:

# Open the data file
with open('/content/projects_data.csv') as f:
    for line in extract_lines(f):
        data = line.split(',')
        if len(data) == 63:
            if data[0] == '"Country Name"':
                colnames = []
                for i, datum in enumerate(data):
                    colnames.append(datum.replace('"', ''))

In [142]:
# Execute this code cell to run the ETL pipeline
# You do not need to change anything in this cell

# open the data file
with open('../content/gdp_data.csv') as f:
    # execute the generator to read in the file line by line
    for line in extract_lines(f):
        # split the comma separated values
        data = line.split(',')
        # check the length of the line because the first four lines of the csv file are not data
        if len(data) == 63:
            # check if the line represents column names
            if data[0] == '"Country Name"':
                colnames = []
                # get rid of quote marks in the results to make the data easier to work with
                for i, datum in enumerate(data):
                    colnames.append(datum.replace('"',''))
            else:
                # transform and load the line of indicator data
                results = transform_indicator_data(data, colnames)