In [1]:
#20SW012 Lab 02

In [8]:
#Task 01
result = ""
# points = int(input("enter your points: "))
points = 174
if points < 0 or points > 200:
  print("")
elif points >= 0 and points <=50:
    results = "wooden rabbit"
elif points >= 51 and points <=150:
    results = "no prize"
elif points >= 151 and points <=180:
    results = "wafer-thin mint"
elif points >= 181 and points <=200:
    results = "penguin"

if results == "no prize":
  print("Oh dear, no prize this time.")
else:
  print(f"Congratulations! You won a {results}")

Congratulations! You won a wafer-thin mint

In [13]:
# task 02

answer = 57
while True:
  guess = int(input("enter your guess:"))
  if guess < answer:
    result = "Oops! Your guess was too low."
    print(result)
  elif guess > answer:
    result = "Oops! Your guess was too high."
    print(result)
  elif guess == answer:
    result = "Nice! Your guess matched the answer!"
    print(result)
    break

enter your guess:50
Oops! Your guess was too low.
enter your guess:75
Oops! Your guess was too high.
enter your guess:63
Oops! Your guess was too high.
enter your guess:55
Oops! Your guess was too low.
enter your guess:59
Oops! Your guess was too high.
enter your guess:57
Nice! Your guess matched the answer!

In [28]:
# Task 03
purchase_amount = int(input("Enter your purchase amount: "))
state = str(input('enter your state: '))

if state == "CA":
  print(f"You have to pay {(purchase_amount*0.075)} tax in amount")
elif state == "MN":
  print(f"You have to pay {(purchase_amount*0.095)} tax in amount")
elif state == "NY":
  print(f"You have to pay {(purchase_amount*0.089)} tax in amount")
else:
  print("You entered wrong state!!!")

Enter your purchase amount: 1000
enter your state: MN
You have to pay 95.0 tax in amount

In [36]:
# Task 04
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the",
"lazy", "dog"]
for word in sentence:
  print(word)

the
quick
brown
fox
jumped
over
the
lazy
dog

In [34]:
# Task 05
for num in range(1, 35):
  if num % 5 == 0:
    print(num)

5
10
15
20
25
30

In [29]:
# Task 06

names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]
first_names = [name.split(" ")[0].lower() for name in names]
print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

In [39]:
# Task 07
multiples_3 = [num for num in range(1,63) if num % 3 == 0]
multiples_3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

In [43]:
# Task 08
scores = {
 "Rick Sanchez": 70,
 "Morty Smith": 35,
 "Summer Smith": 82,
 "Jerry Smith": 23,
 "Beth Smith": 98
 }
passed = [score for score in scores if scores[score] >= 65 ]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

In [49]:
# Task 09
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]
cast = {}
for name, height in zip(cast_names, cast_heights):
  cast[name] = height
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

In [54]:
# Task 10
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby",
"Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]
for index, height in enumerate(heights):
  cast[index] = cast[index] + " " + str(height)
print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']